{% extends "base.html" %}
{% load staticfiles i18n %}


        {% block content %}
        <p><br></p>
           <!--<img src="{% static 'images/borstlogo_sm.png'' %}" alt="Borst DM Logo"/></a>        -->
        <!--<p><img src="{% static 'images/profile.jpg' %}" alt="Hi!" /></p>-->
        Hello, I am Andrew Borst. I wrote my first program at age of 9 in Basic on the Apple II and programming is still 
        fun for me. I have over 12 years experience in medical research data management and previous
        experience as a systems analyst in the Insurance industry.
        I am mostly using this site to cut my teeth with interesting technologies.
        If you have data managagement or statistical needs, please feel free to contact me and I'll
        assist in any way I can. [no spaces in Andrew . C . Borst at gmail] 
        <br> 
        <!--<img src="{% static 'images/appleII_sm.jpg' %}" alt="Apple II" />-->
        {% endblock content %}


