{% extends "base.html" %}
{% load staticfiles i18n %}


        {% block content %}
        <p><br></p>
           <!--<img src="{% static 'images/borstlogo_sm.png'' %}" alt="Borst DM Logo"/></a>        -->
        <p><img class="img-responsive" style="float:left;padding:20px" src="{% static 'images/profile.jpg' %}" alt="Andrew Borst" /></p>
        <div class="content-heading">
                <br>
        <h4>Hello, I am Andrew Borst. In 1979, I wrote my first program in Basic on the Apple II and programming is still 
        fun for me. My current passion is to provide solutions with low costs and quick implementations leveraging today's best
        technologies such Amazon Web Services, Django and R. I have over 12  years experience in medical research 
        data management and previous experience as a systems analyst in the Insurance industry. I offer 
        affordable rates for small organizations, please contact me for a consultation. </h4s></div> [no spaces in Andrew . C . Borst at gmail] 
        <br> 
        <!--<img src="{% static 'images/appleII_sm.jpg' %}" alt="Apple II" />-->
        {% endblock content %}


